body{
    margin: 0;
}
section{
    padding: 5rem 0;
}
.section-center{
    width: 90 vw;
    margin: 0 auto;
    max-width: 35rem;
    margin-top: 6rem;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s linear;
    padding: 2rem;
}
.alert{
    font-size:1.2rem;
    margin-bottom: 15px;
}
.form{
    display: flex;
    justify-content: center;
}
.todo-btn{
    margin-left: 5px;
    box-shadow: none!important;
    font-size: 1.1rem;
    padding: 5px 12px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    color: green;
    font-weight: 600;
    outline: none;
    padding-top: 7px;
    border: 1px solid green;
    transition: 0.3s;
}
.todo-btn:hover{
    background-color: green;
    color: #fff;
    opacity: 1;
}
input{
    border: 1px solid #000;
    font-size: 1.1rem;
    padding: 6px;
    border-radius: 5px;
    margin-right: 3px;
    width: 100%;
    outline: none;
}
.editBtn, .deleteBtn{
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 1.0rem;
    margin: 0 0.10rem;
    transition: all 0.3s linear;
    cursor: pointer;
}
.editBtn:hover{
    color: rgb(7, 134, 7);

} 
.deleteBtn:hover{
    color:rgb(218, 97, 97);

}    
.editBtn{
    color: rgb(60, 212, 60);
    margin-right: 2px;
}
.deleteBtn{
    color:rgb(241, 78, 78);
}

.list-group-item{
    padding: 5px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clear-todo-btn{
    margin: auto;
    color: rgb(122, 3, 3);
    display: flex;
    margin-top: 10px;
    border-color:rgb(122, 3, 3);
}
.clear-todo-btn:hover{
    background-color: rgb(238, 162, 162);
}

@media screen and (max-width: 480px) {
    input{
        padding: 5px;   
    }
    .todo-btn{
        font-size: .9rem;
        padding: 4px 6px;
        padding-top: 5px;
    }
    .alert{
        font-size: 1rem;
    }
    .notodo{
        font-size: 1rem;
    }   
    .clear-todo-btn{
        margin-top: 20px;

    }

}